header.profile-header {
  height: 520px; 
  width: 100%; 
  margin: auto;
  background-color: whitesmoke;
  background-image: url("../images/background.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

body header.header-pic {
  display: flex; 
  justify-self: flex-end;
}

body header.header-name {
  display: flex;
  justify-self: flex-end; 
}